@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');
@import "../Pages/Layout/Layout.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Open Sans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

// creating a custom selection 
::selection {
    color: white;
    background-color: #282828;
}

.width-full {
    width: 100%;

}

// creating a custom scrollbar 
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: teal;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333333;
}

.dropShadowImg {
    filter: drop-shadow('0px 0px 10px #f9c307');
}


.hover-underline {
    &:hover {
        text-decoration: underline;
    }
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    >tr{
        border-bottom: 1px solid #c8c8c8;
        
        >th{
            padding: 15px 0;
            text-align: left;
        }
        >td{
            text-align: right;
        }
    }
}